##
# Managed by Ansible
##

LANG={{ system_locale }}

LC_CTYPE={{ system_locale }}
LC_NUMERIC={{ system_locale }}
LC_TIME={{ system_locale }}
LC_MONETARY={{ system_locale }}
LC_MESSAGES={{ system_locale }}
LC_PAPER={{ system_locale }}
LC_NAME={{ system_locale }}
LC_ADDRESS={{ system_locale }}
LC_TELEPHONE={{ system_locale }}
LC_MEASUREMENT={{ system_locale }}
LC_IDENTIFICATION={{ system_locale }}
LC_COLLATE=C
